In [60]:
import pandas as pd
from pandas import Series
import numpy as np

In [ ]:
#csv

In [7]:
df=pd.read_csv('/Users/jinli/Desktop/学习资料/面试准备/technics/python-for-data/pydata-book-master/ch06/ex1.csv')

In [8]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [9]:
pd.read_csv('/Users/jinli/Desktop/学习资料/面试准备/technics/python-for-data/pydata-book-master/ch06/ex1.csv',sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [11]:
!cat /Users/jinli/Desktop/学习资料/面试准备/technics/python-for-data/pydata-book-master/ch06/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [13]:
pd.read_csv('/Users/jinli/Desktop/学习资料/面试准备/technics/python-for-data/pydata-book-master/ch06/ex2.csv',header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [14]:
pd.read_csv('/Users/jinli/Desktop/学习资料/面试准备/technics/python-for-data/pydata-book-master/ch06/ex2.csv',names=['a','b','c','d','message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [15]:
names=['a','b','c','d','message']
pd.read_csv('/Users/jinli/Desktop/学习资料/面试准备/technics/python-for-data/pydata-book-master/ch06/ex2.csv',names=names,index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [16]:
!cat /Users/jinli/Desktop/学习资料/面试准备/technics/python-for-data/pydata-book-master/ch06/csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [19]:
pd.read_csv('/Users/jinli/Desktop/学习资料/面试准备/technics/python-for-data/pydata-book-master/ch06/csv_mindex.csv')

  key1 key2  value1  value2
0  one    a       1       2
1  one    b       3       4
2  one    c       5       6
3  one    d       7       8
4  two    a       9      10
5  two    b      11      12
6  two    c      13      14
7  two    d      15      16

In [20]:
pd.read_csv('/Users/jinli/Desktop/学习资料/面试准备/technics/python-for-data/pydata-book-master/ch06/csv_mindex.csv',index_col=['key1','key2'])

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [22]:
list(open('/Users/jinli/Desktop/学习资料/面试准备/technics/python-for-data/pydata-book-master/ch06/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [23]:
cat! /Users/jinli/Desktop/学习资料/面试准备/technics/python-for-data/pydata-book-master/ch06/ex3.txt

cat: !: No such file or directory
            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [24]:
result=pd.read_table('/Users/jinli/Desktop/学习资料/面试准备/technics/python-for-data/pydata-book-master/ch06/ex3.txt',sep='\s+')

In [25]:
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [28]:
!cat /Users/jinli/Desktop/学习资料/面试准备/technics/python-for-data/pydata-book-master/ch06/ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [30]:
pd.read_csv('/Users/jinli/Desktop/学习资料/面试准备/technics/python-for-data/pydata-book-master/ch06/ex4.csv',skiprows=[0,2,3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [31]:
!cat /Users/jinli/Desktop/学习资料/面试准备/technics/python-for-data/pydata-book-master/ch06/ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [32]:
result=pd.read_csv('/Users/jinli/Desktop/学习资料/面试准备/technics/python-for-data/pydata-book-master/ch06/ex5.csv')
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [37]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [39]:
result = pd.read_csv('/Users/jinli/Desktop/学习资料/面试准备/technics/python-for-data/pydata-book-master/ch06/ex5.csv', na_values=['NULL'])

In [40]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [41]:
sentinels = {'message': ['foo', 'NA'], 'something': ['two']}
pd.read_csv('/Users/jinli/Desktop/学习资料/面试准备/technics/python-for-data/pydata-book-master/ch06/ex5.csv', na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [42]:
result=pd.read_csv('/Users/jinli/Desktop/学习资料/面试准备/technics/python-for-data/pydata-book-master/ch06/ex6.csv')
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [44]:
result=pd.read_csv('/Users/jinli/Desktop/学习资料/面试准备/technics/python-for-data/pydata-book-master/ch06/ex6.csv',nrows=4)
result

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R

In [46]:
chunker=pd.read_csv('/Users/jinli/Desktop/学习资料/面试准备/technics/python-for-data/pydata-book-master/ch06/ex6.csv',chunksize=1000)
chunker

In [63]:
tot =Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)

tot = tot.order(ascending=False)
tot

AttributeError: 'Series' object has no attribute 'order'

In [64]:
data = pd.read_csv('/Users/jinli/Desktop/学习资料/面试准备/technics/python-for-data/pydata-book-master/ch06/ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [65]:
data.to_csv('/Users/jinli/Desktop/学习资料/面试准备/technics/python-for-data/pydata-book-master/ch06/out.csv')

In [67]:
pd.read_csv('/Users/jinli/Desktop/学习资料/面试准备/technics/python-for-data/pydata-book-master/ch06/out.csv')

   Unnamed: 0 something  a   b     c   d message
0           0       one  1   2   3.0   4     NaN
1           1       two  5   6   NaN   8   world
2           2     three  9  10  11.0  12     foo

In [68]:
import sys

In [69]:
data.to_csv(sys.stdout,sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [70]:
data.to_csv(sys.stdout,sep='|',na_rep='null')

|something|a|b|c|d|message
0|one|1|2|3.0|4|null
1|two|5|6|null|8|world
2|three|9|10|11.0|12|foo

In [72]:
data.to_csv(sys.stdout, index=False, header=False,na_rep='null')

one,1,2,3.0,4,null
two,5,6,null,8,world
three,9,10,11.0,12,foo

In [81]:
data.to_csv(sys.stdout, index=False, columns=['a', 'b', 'c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [85]:
dates=pd.date_range(start='2017-01-01', periods=7)
ts=Series(np.arange(7),index=dates)
ts.to_csv('/Users/jinli/Desktop/学习资料/面试准备/technics/python-for-data/pydata-book-master/ch06/ts.csv')
! cat /Users/jinli/Desktop/学习资料/面试准备/technics/python-for-data/pydata-book-master/ch06/ts.csv

2017-01-01,0
2017-01-02,1
2017-01-03,2
2017-01-04,3
2017-01-05,4
2017-01-06,5
2017-01-07,6

/Users/jinli/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  This is separate from the ipykernel package so we can avoid doing imports until

In [89]:
! cat /Users/jinli/Desktop/学习资料/面试准备/technics/python-for-data/pydata-book-master/ch06/ex7.csv

"a","b","c"
"1","2","3"
"1","2","3","4"

In [93]:
import csv
f=open('/Users/jinli/Desktop/学习资料/面试准备/technics/python-for-data/pydata-book-master/ch06/ex7.csv')
reader=csv.reader(f)

In [96]:
for line in reader:
    print (line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3', '4']

In [98]:
lines=list(csv.reader(open('/Users/jinli/Desktop/学习资料/面试准备/technics/python-for-data/pydata-book-master/ch06/ex7.csv')))

In [99]:
lines

[['a', 'b', 'c'], ['1', '2', '3'], ['1', '2', '3', '4']]

In [100]:
header,values=lines[0],lines[1:]
data_dict = {h: v for h, v in zip(header, zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [102]:
?csv.Dialect

In [103]:
class my_dialect(csv.Dialect):
    lineterminator = '\n'
    delimiter = ';'
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL

In [106]:
reader = csv.reader(f, dialect=my_dialect)

In [107]:
reader = csv.reader(f, delimiter='|')

In [ ]:
with open('mydata.csv', 'w') as f:
    writer = csv.writer(f, dialect=my_dialect)
    writer.writerow(('one', 'two', 'three'))
    writer.writerow(('1', '2', '3'))
    writer.writerow(('4', '5', '6'))
    writer.writerow(('7', '8', '9'))

In [108]:
with open('mydata.csv','w') as f:
    writer=csv.writer(f,dialect=my_dialect)
    writer.writerow(('one','two','three'))
    writer.writerow(('1','2','3'))
    writer.writerow(('4','5','6'))
    writer.writerow(('7','8','9'))

In [109]:
pd.read_csv('mydata.csv')

  one;two;three
0         1;2;3
1         4;5;6
2         7;8;9

In [112]:
#json

In [113]:
import json

In [114]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 25, "pet": "Zuko"},
              {"name": "Katie", "age": 33, "pet": "Cisco"}]
}
"""

In [115]:
result=json.loads(obj)
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 25, 'pet': 'Zuko'},
  {'name': 'Katie', 'age': 33, 'pet': 'Cisco'}]}

In [120]:
json.dumps(result)

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 25, "pet": "Zuko"}, {"name": "Katie", "age": 33, "pet": "Cisco"}]}'

In [123]:
from pandas import DataFrame

In [125]:
siblings=DataFrame(result['siblings'],columns=['name','age','pet'])
siblings

    name  age    pet
0  Scott   25   Zuko
1  Katie   33  Cisco

In [126]:
#XML and HTML: Web Scraping

In [130]:
from lxml.html import parse
from urllib.request import urlopen

In [141]:
parsed = parse(urlopen('http://finance.yahoo.com/q/op?s=AAPL+Options'))
doc = parsed.getroot()

In [144]:
links = doc.findall('.//a')
links[15:20]

[<Element a at 0x117851e30>,
 <Element a at 0x117851e90>,
 <Element a at 0x117851ef0>,
 <Element a at 0x117851f50>,
 <Element a at 0x117851fb0>]

In [145]:
lnk = links[28]
lnk

In [146]:
lnk.get('href')

'/quote/AAPL200717C00165000?p=AAPL200717C00165000'

In [147]:
lnk.text_content()

'AAPL200717C00165000'

In [148]:
urls = [lnk.get('href') for lnk in doc.findall('.//a')]

In [150]:
urls[-10:]

['/',
 '/watchlists',
 '/portfolios',
 '/screener',
 '/premium?ncid=navbarprem_fqbo1nu0ks0',
 '/calendar',
 '/news/',
 'https://money.yahoo.com',
 '/videos/',
 '/tech']

In [154]:
tables = doc.findall('.//table')
calls = tables[1]
puts = tables[0]

In [155]:
rows = calls.findall('.//tr')

In [156]:
def _unpack(row, kind='td'):
    elts = row.findall('.//%s' % kind)
    return [val.text_content() for val in elts]

In [157]:
_unpack(rows[0], kind='th')

['Contract Name',
 'Last Trade Date',
 'Strike',
 'Last Price',
 'Bid',
 'Ask',
 'Change',
 '% Change',
 'Volume',
 'Open Interest',
 'Implied Volatility']

In [158]:
_unpack(rows[1], kind='td')

['AAPL200717P00115000',
 '2020-06-23 3:31PM EDT',
 '115.00',
 '0.01',
 '0.00',
 '0.01',
 '0.00',
 '-',
 '1',
 '1,326',
 '306.25%']

In [159]:
from pandas.io.parsers import TextParser

def parse_options_data(table):
    rows = table.findall('.//tr')
    header = _unpack(rows[0], kind='th')
    data = [_unpack(r) for r in rows[1:]]
    return TextParser(data, names=header).get_chunk()

In [160]:
call_data = parse_options_data(calls)
put_data = parse_options_data(puts)

In [161]:
call_data[:10]

,Contract Name,Last Trade Date,Strike,Last Price,Bid,Ask,Change,% Change,Volume,Open Interest,Implied Volatility
0,AAPL200717P00115000,2020-06-23 3:31PM EDT,115.0,0.01,0.0,0.01,0.0,-,1,"1,326",306.25%
1,AAPL200717P00120000,2020-06-22 6:39PM EDT,120.0,0.03,0.0,0.01,0.0,-,20,350,293.75%
2,AAPL200717P00125000,2020-06-22 6:39PM EDT,125.0,0.04,0.0,0.01,0.0,-,10,593,287.50%
3,AAPL200717P00130000,2020-06-22 9:40AM EDT,130.0,0.01,0.0,0.01,0.0,-,3,227,275.00%
4,AAPL200717P00135000,2020-06-29 1:48PM EDT,135.0,0.01,0.0,0.01,0.0,-,3,741,268.75%
5,AAPL200717P00140000,2020-06-25 9:35AM EDT,140.0,0.01,0.0,0.01,0.0,-,10,"1,304",256.25%
6,AAPL200717P00145000,2020-07-10 9:58AM EDT,145.0,0.01,0.0,0.01,0.0,-,5,727,250.00%
7,AAPL200717P00150000,2020-06-24 12:42PM EDT,150.0,0.01,0.0,0.01,0.0,-,10,"1,122",243.75%
8,AAPL200717P00155000,2020-07-09 10:35AM EDT,155.0,0.01,0.0,0.01,0.0,-,10,692,231.25%
9,AAPL200717P00160000,2020-06-25 9:31AM EDT,160.0,0.02,0.0,0.31,0.0,-,5,992,305.86%

In [162]:
put_data[:10]

,Contract Name,Last Trade Date,Strike,Last Price,Bid,Ask,Change,% Change,Volume,Open Interest,Implied Volatility
0,AAPL200717C00115000,2020-07-09 3:02PM EDT,115.0,267.70,281.85,283.90,0.00,-,4,14,513.28%
1,AAPL200717C00120000,2020-06-22 6:37PM EDT,120.0,183.27,276.85,278.75,0.00,-,4,0,483.01%
2,AAPL200717C00135000,2020-07-13 10:21AM EDT,135.0,262.55,262.30,263.60,16.40,+6.66%,34,"3,754",423.83%
3,AAPL200717C00140000,2020-07-10 1:06PM EDT,140.0,240.97,256.85,259.20,0.00,-,1,5,256.25%
4,AAPL200717C00145000,2020-07-08 3:06PM EDT,145.0,234.80,252.60,252.80,0.00,-,6,7,0.00%
5,AAPL200717C00150000,2020-07-09 3:39PM EDT,150.0,231.60,247.20,248.45,0.00,-,48,46,369.34%
6,AAPL200717C00155000,2020-07-09 12:51PM EDT,155.0,227.95,241.80,243.20,0.00,-,10,15,321.09%
7,AAPL200717C00160000,2020-07-13 10:31AM EDT,160.0,238.95,237.25,239.10,19.15,+8.71%,33,331,305.86%
8,AAPL200717C00165000,2020-07-13 10:22AM EDT,165.0,232.50,232.25,234.10,46.40,+24.93%,3,100,296.09%
9,AAPL200717C00170000,2020-06-22 6:37PM EDT,170.0,123.25,226.85,229.20,0.00,-,5,0,212.50%

In [163]:
from lxml import objectify

In [165]:
path = 'Performance_MNR.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot()

In [166]:
data = []

skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ',
               'DESIRED_CHANGE', 'DECIMAL_PLACES']

for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

AttributeError: no such child: {http://schemas.microsoft.com/office/word/2003/wordml}INDICATOR

In [167]:
perf = DataFrame(data)

In [170]:
from io import StringIO
tag = '<a href="http://www.google.com">Google</a>'

root = objectify.parse(StringIO(tag)).getroot()

In [171]:
root

In [172]:
root.get('href')

'http://www.google.com'

In [173]:
root.text

'Google'

In [ ]:
#Binary Data Formats

In [174]:
frame = pd.read_csv('/Users/jinli/Desktop/学习资料/面试准备/technics/python-for-data/pydata-book-master/ch06/ex1.csv')
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [179]:
#Reading Microsoft Excel Files

In [180]:
xls_file = pd.ExcelFile('data.xls')
table = xls_file.parse('Sheet1')

FileNotFoundError: [Errno 2] No such file or directory: 'data.xls'

In [181]:
#Interacting with HTML and Web APIs

In [182]:
import requests

In [183]:
url = 'https://api.github.com/repos/pydata/pandas/milestones/28/labels'

In [184]:
resp = requests.get(url)

In [185]:
resp

In [186]:
data = resp.json()
data[:5]

[{'id': 76811,
  'node_id': 'MDU6TGFiZWw3NjgxMQ==',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug',
  'name': 'Bug',
  'color': 'e10c02',
  'default': False,
  'description': None},
 {'id': 76812,
  'node_id': 'MDU6TGFiZWw3NjgxMg==',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Enhancement',
  'name': 'Enhancement',
  'color': '4E9A06',
  'default': False,
  'description': None},
 {'id': 127681,
  'node_id': 'MDU6TGFiZWwxMjc2ODE=',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Refactor',
  'name': 'Refactor',
  'color': 'FCE94F',
  'default': False,
  'description': 'Internal refactoring of code'},
 {'id': 129350,
  'node_id': 'MDU6TGFiZWwxMjkzNTA=',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Build',
  'name': 'Build',
  'color': '75507B',
  'default': False,
  'description': 'Library building on various platforms'},
 {'id': 134699,
  'node_id': 'MDU6TGFiZWwxMzQ2OTk=',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Docs',
  'name': 'Docs',
  'color': '3465A4',
  'default': False,
  'description': None}]

In [188]:
issue_labels = DataFrame(data)
issue_labels

,id,node_id,url,name,color,default,description
0,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...,Bug,e10c02,False,None
1,76812,MDU6TGFiZWw3NjgxMg==,https://api.github.com/repos/pandas-dev/pandas...,Enhancement,4E9A06,False,None
2,127681,MDU6TGFiZWwxMjc2ODE=,https://api.github.com/repos/pandas-dev/pandas...,Refactor,FCE94F,False,Internal refactoring of code
3,129350,MDU6TGFiZWwxMjkzNTA=,https://api.github.com/repos/pandas-dev/pandas...,Build,75507B,False,Library building on various platforms
4,134699,MDU6TGFiZWwxMzQ2OTk=,https://api.github.com/repos/pandas-dev/pandas...,Docs,3465A4,False,None
5,211840,MDU6TGFiZWwyMTE4NDA=,https://api.github.com/repos/pandas-dev/pandas...,Timeseries,AFEEEE,False,None
6,233160,MDU6TGFiZWwyMzMxNjA=,https://api.github.com/repos/pandas-dev/pandas...,Groupby,729FCF,False,None
7,2301354,MDU6TGFiZWwyMzAxMzU0,https://api.github.com/repos/pandas-dev/pandas...,IO Data,06909A,False,IO issues that don't fit into a more specific ...
8,2413328,MDU6TGFiZWwyNDEzMzI4,https://api.github.com/repos/pandas-dev/pandas...,Visualization,8AE234,False,None
9,2822098,MDU6TGFiZWwyODIyMDk4,https://api.github.com/repos/pandas-dev/pandas...,Indexing,0b02e1,False,"Related to indexing on series/frames, not to i..."
10,2822342,MDU6TGFiZWwyODIyMzQy,https://api.github.com/repos/pandas-dev/pandas...,Missing-data,d7e102,False,None
11,8935311,MDU6TGFiZWw4OTM1MzEx,https://api.github.com/repos/pandas-dev/pandas...,Performance,a10c02,False,Memory or execution speed performance
12,13098779,MDU6TGFiZWwxMzA5ODc3OQ==,https://api.github.com/repos/pandas-dev/pandas...,Reshaping,02d7e1,False,"Concat, Merge/Join, Stack/Unstack"
13,31404521,MDU6TGFiZWwzMTQwNDUyMQ==,https://api.github.com/repos/pandas-dev/pandas...,Dtypes,e102d8,False,None
14,32933285,MDU6TGFiZWwzMjkzMzI4NQ==,https://api.github.com/repos/pandas-dev/pandas...,Admin,DDDDDD,False,Administrative tasks related to the pandas pro...
15,35818298,MDU6TGFiZWwzNTgxODI5OA==,https://api.github.com/repos/pandas-dev/pandas...,API Design,AD7FA8,False,None
16,42670965,MDU6TGFiZWw0MjY3MDk2NQ==,https://api.github.com/repos/pandas-dev/pandas...,Error Reporting,ffa0ff,False,Incorrect or improved errors from pandas
17,47223669,MDU6TGFiZWw0NzIyMzY2OQ==,https://api.github.com/repos/pandas-dev/pandas...,Numeric,006b75,False,"Arithmetic, Comparison, Logical, and Reduction..."
18,47229171,MDU6TGFiZWw0NzIyOTE3MQ==,https://api.github.com/repos/pandas-dev/pandas...,IO CSV,5319e7,False,None
19,47232590,MDU6TGFiZWw0NzIzMjU5MA==,https://api.github.com/repos/pandas-dev/pandas...,IO SQL,5319e7,False,"to_sql, read_sql, read_sql_query"
20,48070600,MDU6TGFiZWw0ODA3MDYwMA==,https://api.github.com/repos/pandas-dev/pandas...,CI,a2bca7,False,Related to Continuous Integration
21,49094459,MDU6TGFiZWw0OTA5NDQ1OQ==,https://api.github.com/repos/pandas-dev/pandas...,Internals,fbca04,False,Related to non-user accessible pandas implemen...
22,49597148,MDU6TGFiZWw0OTU5NzE0OA==,https://api.github.com/repos/pandas-dev/pandas...,Timedelta,5319e7,False,Timedelta data type
23,53181044,MDU6TGFiZWw1MzE4MTA0NA==,https://api.github.com/repos/pandas-dev/pandas...,Frequency,0052cc,False,DateOffsets
24,57186974,MDU6TGFiZWw1NzE4Njk3NA==,https://api.github.com/repos/pandas-dev/pandas...,Windows,fbca04,False,Windows OS
25,57296398,MDU6TGFiZWw1NzI5NjM5OA==,https://api.github.com/repos/pandas-dev/pandas...,Algos,eb6420,False,"Non-arithmetic algos: value_counts, factorize,..."
26,60458168,MDU6TGFiZWw2MDQ1ODE2OA==,https://api.github.com/repos/pandas-dev/pandas...,Timezones,5319e7,False,Timezone data dtype
27,60635328,MDU6TGFiZWw2MDYzNTMyOA==,https://api.github.com/repos/pandas-dev/pandas...,Period,eb6420,False,Period data type
28,71268330,MDU6TGFiZWw3MTI2ODMzMA==,https://api.github.com/repos/pandas-dev/pandas...,MultiIndex,207de5,False,None
29,78527356,MDU6TGFiZWw3ODUyNzM1Ng==,https://api.github.com/repos/pandas-dev/pandas...,Categorical,e11d21,False,Categorical Data Type

In [189]:
issue_labels.ix[7]

/Users/jinli/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

id                                                       2301354
node_id                                     MDU6TGFiZWwyMzAxMzU0
url            https://api.github.com/repos/pandas-dev/pandas...
name                                                     IO Data
color                                                     06909A
default                                                    False
description    IO issues that don't fit into a more specific ...
Name: 7, dtype: object

In [190]:
#Interacting with Databases

In [191]:
import sqlite3

In [192]:
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""

In [193]:
con = sqlite3.connect(':memory:')
con.execute(query)
con.commit()

In [194]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"
con.executemany(stmt, data)
con.commit()

In [195]:
cursor = con.execute('select * from test')
rows=cursor.fetchall()

In [196]:
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [197]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [198]:
DataFrame(rows, columns=zip(*cursor.description)[0])

TypeError: 'zip' object is not subscriptable

In [199]:
pd.read_sql('select * from test', con)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [200]:
#Storing and Loading Data in MongoDB

In [202]:
! pip install pymongo

Collecting pymongo
  Downloading pymongo-3.10.1-cp37-cp37m-macosx_10_9_x86_64.whl (350 kB)
     |████████████████████████████████| 350 kB 557 kB/s eta 0:00:01
Installing collected packages: pymongo
Successfully installed pymongo-3.10.1

In [206]:
import pymongo
con = pymongo.MongoClient('localhost', port=27017)

In [207]:
tweets = con.db.tweets

In [212]:
import requests, json
url = 'http://search.twitter.com/search.json?q=python%20pandas'
data = json.loads(requests.get(url).text)
for tweet in data['results']:
    tweets.save(tweet)

KeyError: 'results'

In [213]:
cursor = tweets.find({'from_user': 'wesmckinn'})

In [214]:
tweet_fields = ['created_at', 'from_user', 'id', 'text']
result = DataFrame(list(cursor), columns=tweet_fields)

ServerSelectionTimeoutError: localhost:27017: [Errno 61] Connection refused