In [1]:
import pandas as pd

In [4]:
close_px_all = pd.read_csv('/Users/jinli/Desktop/学习资料/面试准备/technics/python-for-data/pydata-book-master/ch11/stock_px.csv', parse_dates=False, index_col=0)

In [12]:
prices=close_px_all[['AAPL','JNJ','SPX','XOM']][-10:]

In [13]:
prices

                       AAPL    JNJ      SPX    XOM
2011-10-03 00:00:00  374.60  62.08  1099.23  71.15
2011-10-04 00:00:00  372.50  62.17  1123.95  72.83
2011-10-05 00:00:00  378.25  62.35  1144.03  73.95
2011-10-06 00:00:00  377.37  62.81  1164.97  73.89
2011-10-07 00:00:00  369.80  63.13  1155.46  73.56
2011-10-10 00:00:00  388.81  64.43  1194.89  76.28
2011-10-11 00:00:00  400.29  63.96  1195.54  76.27
2011-10-12 00:00:00  402.19  64.33  1207.25  77.16
2011-10-13 00:00:00  408.43  64.23  1203.66  76.37
2011-10-14 00:00:00  422.00  64.72  1224.58  78.11

In [14]:
close_px_all = pd.read_csv('/Users/jinli/Desktop/学习资料/面试准备/technics/python-for-data/pydata-book-master/ch11/volume.csv', parse_dates=False, index_col=0)

In [15]:
volume=close_px_all[['AAPL','JNJ','SPX','XOM']][-10:]

In [16]:
volume

                           AAPL         JNJ           SPX         XOM
2011-10-03 00:00:00  23876300.0  16891100.0  5.670340e+09  31004200.0
2011-10-04 00:00:00  44035800.0  18192000.0  3.714670e+09  36454500.0
2011-10-05 00:00:00  28075700.0  15405200.0  2.510620e+09  28239800.0
2011-10-06 00:00:00  29008700.0   9595400.0  5.098330e+09  24869800.0
2011-10-07 00:00:00  19123500.0  12361600.0  5.580380e+09  23573900.0
2011-10-10 00:00:00  15769200.0   7104000.0  4.446800e+09  20455700.0
2011-10-11 00:00:00  21609800.0   7628700.0  4.424500e+09  17862100.0
2011-10-12 00:00:00  22206600.0   9375100.0  5.355360e+09  22239000.0
2011-10-13 00:00:00  15177900.0   7781100.0  4.436270e+09  19540300.0
2011-10-14 00:00:00  20450000.0   6678800.0  4.116690e+09  17870600.0

In [17]:
prices*volume

                             AAPL           JNJ           SPX           XOM
2011-10-03 00:00:00  8.944062e+09  1.048599e+09  6.233008e+12  2.205949e+09
2011-10-04 00:00:00  1.640334e+10  1.130997e+09  4.175103e+12  2.654981e+09
2011-10-05 00:00:00  1.061963e+10  9.605142e+08  2.872225e+12  2.088333e+09
2011-10-06 00:00:00  1.094701e+10  6.026871e+08  5.939402e+12  1.837630e+09
2011-10-07 00:00:00  7.071870e+09  7.803878e+08  6.447906e+12  1.734096e+09
2011-10-10 00:00:00  6.131223e+09  4.577107e+08  5.313437e+12  1.560361e+09
2011-10-11 00:00:00  8.650187e+09  4.879317e+08  5.289667e+12  1.362342e+09
2011-10-12 00:00:00  8.931272e+09  6.031002e+08  6.465258e+12  1.715961e+09
2011-10-13 00:00:00  6.199110e+09  4.997801e+08  5.339761e+12  1.492293e+09
2011-10-14 00:00:00  8.629900e+09  4.322519e+08  5.041216e+12  1.395873e+09

In [18]:
vwap = (prices * volume).sum() / volume.sum()

In [19]:
vwap

AAPL     386.605327
JNJ       63.091348
SPX     1171.165254
XOM       74.543910
dtype: float64

In [21]:
prices.align(volume, join='inner')

(                       AAPL    JNJ      SPX    XOM
 2011-10-03 00:00:00  374.60  62.08  1099.23  71.15
 2011-10-04 00:00:00  372.50  62.17  1123.95  72.83
 2011-10-05 00:00:00  378.25  62.35  1144.03  73.95
 2011-10-06 00:00:00  377.37  62.81  1164.97  73.89
 2011-10-07 00:00:00  369.80  63.13  1155.46  73.56
 2011-10-10 00:00:00  388.81  64.43  1194.89  76.28
 2011-10-11 00:00:00  400.29  63.96  1195.54  76.27
 2011-10-12 00:00:00  402.19  64.33  1207.25  77.16
 2011-10-13 00:00:00  408.43  64.23  1203.66  76.37
 2011-10-14 00:00:00  422.00  64.72  1224.58  78.11,
                            AAPL         JNJ           SPX         XOM
 2011-10-03 00:00:00  23876300.0  16891100.0  5.670340e+09  31004200.0
 2011-10-04 00:00:00  44035800.0  18192000.0  3.714670e+09  36454500.0
 2011-10-05 00:00:00  28075700.0  15405200.0  2.510620e+09  28239800.0
 2011-10-06 00:00:00  29008700.0   9595400.0  5.098330e+09  24869800.0
 2011-10-07 00:00:00  19123500.0  12361600.0  5.580380e+09  23573900.0
 2011-10-10 00:00:00  15769200.0   7104000.0  4.446800e+09  20455700.0
 2011-10-11 00:00:00  21609800.0   7628700.0  4.424500e+09  17862100.0
 2011-10-12 00:00:00  22206600.0   9375100.0  5.355360e+09  22239000.0
 2011-10-13 00:00:00  15177900.0   7781100.0  4.436270e+09  19540300.0
 2011-10-14 00:00:00  20450000.0   6678800.0  4.116690e+09  17870600.0)

In [25]:
from pandas import Series, DataFrame

In [26]:
s1 = Series(range(3), index=['a', 'b', 'c'])
s2 = Series(range(4), index=['d', 'b', 'c', 'e'])
s3 = Series(range(3), index=['f', 'a', 'c'])
DataFrame({'one': s1, 'two': s2, 'three': s3})

   one  two  three
a  0.0  NaN    1.0
b  1.0  1.0    NaN
c  2.0  2.0    2.0
d  NaN  0.0    NaN
e  NaN  3.0    NaN
f  NaN  NaN    0.0

In [27]:
DataFrame({'one': s1, 'two': s2, 'three': s3}, index=list('face'))

   one  two  three
f  NaN  NaN    0.0
a  0.0  NaN    1.0
c  2.0  2.0    2.0
e  NaN  3.0    NaN

In [29]:
import numpy as np

In [30]:
ts1 = Series(np.random.randn(3), index=pd.date_range('2012-6-13', periods=3, freq='W-WED'))
ts1

2012-06-13   -0.823199
2012-06-20    0.504245
2012-06-27    0.053889
Freq: W-WED, dtype: float64

In [35]:
ts1.resample('B')

In [37]:
ts1.resample('B',fill_method='ffill')

/Users/jinli/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: fill_method is deprecated to .resample()
the new syntax is .resample(...).ffill()
  """Entry point for launching an IPython kernel.

2012-06-13   -0.823199
2012-06-14   -0.823199
2012-06-15   -0.823199
2012-06-18   -0.823199
2012-06-19   -0.823199
2012-06-20    0.504245
2012-06-21    0.504245
2012-06-22    0.504245
2012-06-25    0.504245
2012-06-26    0.504245
2012-06-27    0.053889
Freq: B, dtype: float64

In [38]:
dates = pd.DatetimeIndex(['2012-6-12', '2012-6-17', '2012-6-18','2012-6-21', '2012-6-22', '2012-6-29'])
dates

DatetimeIndex(['2012-06-12', '2012-06-17', '2012-06-18', '2012-06-21',
               '2012-06-22', '2012-06-29'],
              dtype='datetime64[ns]', freq=None)

In [40]:
ts2 = Series(np.random.randn(6), index=dates)
ts2

2012-06-12   -0.053552
2012-06-17   -0.672046
2012-06-18   -0.731318
2012-06-21   -1.633639
2012-06-22   -0.113426
2012-06-29   -1.623275
dtype: float64

In [41]:
ts1.reindex(ts2.index, method='ffill')

2012-06-12         NaN
2012-06-17   -0.823199
2012-06-18   -0.823199
2012-06-21    0.504245
2012-06-22    0.504245
2012-06-29    0.053889
dtype: float64

In [42]:
ts2 + ts1.reindex(ts2.index, method='ffill')

2012-06-12         NaN
2012-06-17   -1.495244
2012-06-18   -1.554516
2012-06-21   -1.129394
2012-06-22    0.390819
2012-06-29   -1.569386
dtype: float64

In [43]:
gdp = Series([1.78, 1.94, 2.08, 2.01, 2.15, 2.31, 2.46],index=pd.period_range('1984Q2', periods=7, freq='Q-SEP'))
infl = Series([0.025, 0.045, 0.037, 0.04],index=pd.period_range('1982', periods=4, freq='A-DEC'))
gdp

1984Q2    1.78
1984Q3    1.94
1984Q4    2.08
1985Q1    2.01
1985Q2    2.15
1985Q3    2.31
1985Q4    2.46
Freq: Q-SEP, dtype: float64

In [44]:
infl

1982    0.025
1983    0.045
1984    0.037
1985    0.040
Freq: A-DEC, dtype: float64

In [49]:
infl_q = infl.asfreq('Q-SEP', how='end')
infl_q

1983Q1    0.025
1984Q1    0.045
1985Q1    0.037
1986Q1    0.040
Freq: Q-SEP, dtype: float64

In [50]:
infl_q.reindex(gdp.index, method='ffill')

1984Q2    0.045
1984Q3    0.045
1984Q4    0.045
1985Q1    0.037
1985Q2    0.037
1985Q3    0.037
1985Q4    0.037
Freq: Q-SEP, dtype: float64

In [51]:
# Make an intraday date range and time series
rng = pd.date_range('2012-06-01 09:30', '2012-06-01 15:59', freq='T')

In [52]:
# Make a 5-day series of 9:30-15:59 values
rng = rng.append([rng + pd.offsets.BDay(i) for i in range(1, 4)])
ts = Series(np.arange(len(rng), dtype=float), index=rng)
ts

2012-06-01 09:30:00       0.0
2012-06-01 09:31:00       1.0
2012-06-01 09:32:00       2.0
2012-06-01 09:33:00       3.0
2012-06-01 09:34:00       4.0
                        ...
2012-06-06 15:55:00    1555.0
2012-06-06 15:56:00    1556.0
2012-06-06 15:57:00    1557.0
2012-06-06 15:58:00    1558.0
2012-06-06 15:59:00    1559.0
Length: 1560, dtype: float64

In [55]:
from datetime import time
ts[time(10, 0)]

2012-06-01 10:00:00      30.0
2012-06-04 10:00:00     420.0
2012-06-05 10:00:00     810.0
2012-06-06 10:00:00    1200.0
dtype: float64

In [56]:
ts.at_time(time(10, 0))

2012-06-01 10:00:00      30.0
2012-06-04 10:00:00     420.0
2012-06-05 10:00:00     810.0
2012-06-06 10:00:00    1200.0
dtype: float64

In [57]:
ts.between_time(time(10, 0), time(10, 1))

2012-06-01 10:00:00      30.0
2012-06-01 10:01:00      31.0
2012-06-04 10:00:00     420.0
2012-06-04 10:01:00     421.0
2012-06-05 10:00:00     810.0
2012-06-05 10:01:00     811.0
2012-06-06 10:00:00    1200.0
2012-06-06 10:01:00    1201.0
dtype: float64

In [58]:
# Set most of the time series randomly to NA
indexer = np.sort(np.random.permutation(len(ts))[700:])
indexer

array([   0,    4,    5,    6,    7,    9,   10,   16,   17,   19,   21,
         22,   23,   25,   27,   28,   29,   30,   32,   36,   40,   41,
         43,   44,   47,   48,   49,   50,   51,   52,   53,   54,   62,
         69,   71,   73,   77,   78,   79,   83,   84,   85,   86,   87,
         88,   89,   90,   91,   93,   95,   96,   97,   98,  101,  102,
        103,  104,  107,  108,  110,  111,  113,  115,  116,  117,  118,
        120,  121,  122,  124,  125,  128,  129,  131,  132,  136,  137,
        138,  143,  144,  145,  148,  149,  150,  151,  152,  153,  154,
        155,  157,  158,  159,  160,  161,  163,  168,  169,  170,  171,
        174,  177,  178,  180,  182,  185,  186,  189,  190,  191,  194,
        195,  197,  198,  199,  200,  202,  203,  204,  206,  211,  213,
        214,  215,  219,  222,  224,  226,  227,  228,  229,  236,  239,
        241,  245,  247,  249,  251,  252,  253,  256,  258,  259,  260,
        263,  264,  265,  266,  271,  272,  273,  279,  281,  285,  286,
        287,  289,  290,  292,  294,  296,  297,  300,  301,  302,  303,
        304,  305,  306,  311,  312,  314,  315,  316,  317,  320,  322,
        323,  324,  327,  329,  331,  332,  333,  335,  336,  337,  338,
        340,  341,  343,  344,  345,  346,  348,  350,  352,  353,  354,
        355,  357,  358,  360,  362,  365,  366,  369,  370,  371,  372,
        373,  377,  378,  383,  384,  385,  387,  388,  390,  394,  396,
        397,  399,  400,  401,  402,  404,  405,  406,  408,  409,  410,
        412,  413,  414,  415,  418,  420,  422,  424,  426,  428,  430,
        431,  432,  437,  438,  445,  448,  449,  451,  453,  454,  455,
        457,  460,  461,  462,  466,  469,  471,  475,  478,  480,  482,
        487,  489,  490,  491,  492,  496,  498,  500,  501,  504,  505,
        506,  507,  508,  511,  513,  515,  516,  518,  519,  520,  521,
        522,  523,  524,  526,  528,  529,  530,  532,  536,  537,  539,
        540,  541,  548,  549,  550,  551,  552,  555,  557,  559,  560,
        563,  566,  569,  570,  571,  572,  576,  577,  580,  581,  583,
        584,  585,  586,  588,  589,  591,  593,  594,  595,  598,  601,
        604,  605,  609,  610,  611,  613,  614,  615,  616,  618,  619,
        623,  628,  629,  630,  631,  633,  635,  641,  644,  647,  648,
        653,  656,  663,  664,  665,  668,  670,  672,  674,  675,  676,
        677,  679,  680,  681,  682,  683,  685,  686,  688,  689,  691,
        694,  695,  697,  698,  699,  701,  703,  707,  709,  710,  714,
        715,  716,  722,  723,  724,  725,  726,  728,  729,  732,  733,
        734,  735,  736,  738,  739,  741,  742,  743,  744,  745,  746,
        749,  750,  753,  754,  755,  759,  760,  762,  763,  768,  773,
        774,  775,  777,  780,  783,  784,  785,  787,  789,  790,  791,
        792,  793,  794,  795,  796,  799,  800,  801,  802,  803,  805,
        807,  808,  810,  811,  814,  816,  818,  819,  820,  821,  822,
        823,  825,  829,  830,  832,  833,  834,  836,  837,  840,  841,
        844,  847,  848,  850,  851,  852,  853,  855,  856,  861,  862,
        864,  865,  866,  867,  869,  870,  874,  875,  881,  883,  884,
        885,  887,  888,  889,  890,  891,  892,  893,  894,  897,  898,
        899,  900,  905,  907,  908,  914,  915,  916,  918,  920,  922,
        923,  925,  927,  928,  929,  930,  931,  932,  933,  934,  935,
        938,  939,  941,  942,  943,  944,  946,  947,  948,  950,  951,
        953,  962,  964,  965,  968,  969,  970,  972,  975,  976,  977,
        979,  981,  983,  985,  986,  987,  989,  993,  994,  996,  997,
        998, 1000, 1001, 1005, 1007, 1009, 1011, 1012, 1014, 1015, 1016,
       1017, 1021, 1022, 1023, 1024, 1025, 1026, 1027, 1028, 1029, 1030,
       1032, 1033, 1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1043,
       1049, 1050, 1051, 1052, 1053, 1056, 1058, 1059, 1060, 1063, 1066,
       1067, 1068, 1070, 1072, 1073, 1074, 1076, 1078, 1080, 1081, 1082,
       1083, 1085, 1087, 1088, 1092, 1093, 1094, 1095, 1096, 1097, 1098,
       1099, 1100, 1102, 1105, 1106, 1108, 1110, 1112, 1114, 1115, 1116,
       1118, 1120, 1121, 1123, 1124, 1125, 1126, 1127, 1128, 1129, 1132,
       1133, 1134, 1137, 1138, 1139, 1140, 1141, 1142, 1143, 1144, 1146,
       1148, 1150, 1153, 1155, 1156, 1158, 1163, 1164, 1165, 1167, 1168,
       1169, 1171, 1173, 1174, 1176, 1177, 1178, 1179, 1180, 1182, 1183,
       1186, 1187, 1190, 1191, 1192, 1195, 1197, 1199, 1202, 1203, 1205,
       1207, 1208, 1211, 1220, 1222, 1223, 1224, 1225, 1228, 1229, 1230,
       1231, 1232, 1236, 1238, 1239, 1240, 1244, 1245, 1246, 1249, 1251,
       1252, 1256, 1258, 1262, 1263, 1264, 1267, 1270, 1271, 1275, 1276,
       1277, 1280, 1286, 1288, 1292, 1295, 1296, 1297, 1298, 1299, 1302,
       1304, 1306, 1307, 1308, 1313, 1315, 1318, 1319, 1320, 1322, 1323,
       1324, 1325, 1328, 1332, 1334, 1335, 1337, 1338, 1339, 1340, 1341,
       1344, 1345, 1348, 1350, 1355, 1356, 1359, 1361, 1363, 1364, 1367,
       1369, 1371, 1372, 1375, 1376, 1378, 1381, 1382, 1386, 1389, 1391,
       1393, 1394, 1395, 1397, 1398, 1399, 1400, 1401, 1402, 1406, 1407,
       1409, 1410, 1412, 1413, 1414, 1415, 1416, 1418, 1419, 1420, 1421,
       1423, 1424, 1426, 1430, 1431, 1432, 1433, 1434, 1435, 1436, 1437,
       1438, 1440, 1442, 1447, 1448, 1450, 1452, 1453, 1455, 1456, 1457,
       1458, 1459, 1460, 1463, 1466, 1467, 1470, 1471, 1472, 1473, 1476,
       1482, 1483, 1484, 1486, 1489, 1490, 1492, 1500, 1502, 1505, 1510,
       1514, 1516, 1518, 1520, 1521, 1523, 1524, 1525, 1527, 1528, 1529,
       1530, 1532, 1534, 1537, 1539, 1543, 1545, 1546, 1547, 1549, 1550,
       1554, 1555])

In [59]:
irr_ts = ts.copy()

In [61]:
irr_ts[indexer] = np.nan
irr_ts['2012-06-01 09:50':'2012-06-01 10:00']

2012-06-01 09:50:00    20.0
2012-06-01 09:51:00     NaN
2012-06-01 09:52:00     NaN
2012-06-01 09:53:00     NaN
2012-06-01 09:54:00    24.0
2012-06-01 09:55:00     NaN
2012-06-01 09:56:00    26.0
2012-06-01 09:57:00     NaN
2012-06-01 09:58:00     NaN
2012-06-01 09:59:00     NaN
2012-06-01 10:00:00     NaN
dtype: float64

In [62]:
selection = pd.date_range('2012-06-01 10:00', periods=4, freq='B')
irr_ts.asof(selection)

2012-06-01 10:00:00      26.0
2012-06-04 10:00:00     419.0
2012-06-05 10:00:00     809.0
2012-06-06 10:00:00    1200.0
Freq: B, dtype: float64

In [63]:
data1 = DataFrame(np.ones((6, 3), dtype=float),
            columns=['a', 'b', 'c'],
              index=pd.date_range('6/12/2012', periods=6))

In [65]:
data2 = DataFrame(np.ones((6, 3), dtype=float) * 2,
        columns=['a', 'b', 'c'],
                 index=pd.date_range('6/13/2012', periods=6))

In [66]:
spliced = pd.concat([data1.ix[:'2012-06-14'], data2.ix['2012-06-15':]])
spliced

/Users/jinli/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

              a    b    c
2012-06-12  1.0  1.0  1.0
2012-06-13  1.0  1.0  1.0
2012-06-14  1.0  1.0  1.0
2012-06-15  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0

In [67]:
data2 = DataFrame(np.ones((6, 4), dtype=float) * 2,
                     columns=['a', 'b', 'c', 'd'],
                   index=pd.date_range('6/13/2012', periods=6))

In [68]:
spliced = pd.concat([data1.ix[:'2012-06-14'], data2.ix['2012-06-15':]])
spliced

/Users/jinli/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.
/Users/jinli/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

              a    b    c    d
2012-06-12  1.0  1.0  1.0  NaN
2012-06-13  1.0  1.0  1.0  NaN
2012-06-14  1.0  1.0  1.0  NaN
2012-06-15  2.0  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0  2.0

In [69]:
spliced_filled = spliced.combine_first(data2)
spliced_filled

              a    b    c    d
2012-06-12  1.0  1.0  1.0  NaN
2012-06-13  1.0  1.0  1.0  2.0
2012-06-14  1.0  1.0  1.0  2.0
2012-06-15  2.0  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0  2.0

In [70]:
spliced.update(data2, overwrite=False)
spliced

              a    b    c    d
2012-06-12  1.0  1.0  1.0  NaN
2012-06-13  1.0  1.0  1.0  2.0
2012-06-14  1.0  1.0  1.0  2.0
2012-06-15  2.0  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0  2.0

In [71]:
cp_spliced = spliced.copy()
cp_spliced[['a', 'c']] = data1[['a', 'c']]
cp_spliced

              a    b    c    d
2012-06-12  1.0  1.0  1.0  NaN
2012-06-13  1.0  1.0  1.0  2.0
2012-06-14  1.0  1.0  1.0  2.0
2012-06-15  1.0  2.0  1.0  2.0
2012-06-16  1.0  2.0  1.0  2.0
2012-06-17  1.0  2.0  1.0  2.0
2012-06-18  NaN  2.0  NaN  2.0

In [75]:
pip install pandas-datareader

Collecting pandas-datareader
  Downloading pandas_datareader-0.9.0-py3-none-any.whl (107 kB)
     |████████████████████████████████| 107 kB 597 kB/s eta 0:00:01
Requirement already satisfied: requests>=2.19.0 in ./opt/anaconda3/lib/python3.7/site-packages (from pandas-datareader) (2.22.0)
Requirement already satisfied: lxml in ./opt/anaconda3/lib/python3.7/site-packages (from pandas-datareader) (4.4.1)
Requirement already satisfied: pandas>=0.23 in ./opt/anaconda3/lib/python3.7/site-packages (from pandas-datareader) (0.25.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in ./opt/anaconda3/lib/python3.7/site-packages (from requests>=2.19.0->pandas-datareader) (1.24.2)
Requirement already satisfied: certifi>=2017.4.17 in ./opt/anaconda3/lib/python3.7/site-packages (from requests>=2.19.0->pandas-datareader) (2019.9.11)
Requirement already satisfied: idna<2.9,>=2.5 in ./opt/anaconda3/lib/python3.7/site-packages (from requests>=2.19.0->pandas-datareader) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in ./opt/anaconda3/lib/python3.7/site-packages (from requests>=2.19.0->pandas-datareader) (3.0.4)
Requirement already satisfied: pytz>=2017.2 in ./opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.23->pandas-datareader) (2019.3)
Requirement already satisfied: numpy>=1.13.3 in ./opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.23->pandas-datareader) (1.17.2)
Requirement already satisfied: python-dateutil>=2.6.1 in ./opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.23->pandas-datareader) (2.8.0)
Requirement already satisfied: six>=1.5 in ./opt/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas>=0.23->pandas-datareader) (1.12.0)
Installing collected packages: pandas-datareader
Successfully installed pandas-datareader-0.9.0
Note: you may need to restart the kernel to use updated packages.

In [77]:
from pandas_datareader import data as web

In [78]:
price = web.get_data_yahoo('AAPL', '2011-01-01')['Adj Close']

In [79]:
price[-5:]

Date
2020-07-15    390.899994
2020-07-16    386.089996
2020-07-17    385.309998
2020-07-20    393.429993
2020-07-21    388.000000
Name: Adj Close, dtype: float64

In [83]:
price['2011-1-04'] / price['2011-1-03'] - 1

0.005218943486372529

In [84]:
returns = price.pct_change()
returns

Date
2011-01-03         NaN
2011-01-04    0.005219
2011-01-05    0.008180
2011-01-06   -0.000808
2011-01-07    0.007161
                ...
2020-07-15    0.006877
2020-07-16   -0.012305
2020-07-17   -0.002020
2020-07-20    0.021074
2020-07-21   -0.013802
Name: Adj Close, Length: 2403, dtype: float64

In [85]:
#cumprod:cumulative production.To calculate the profit
ret_index = (1 + returns).cumprod()

In [92]:
ret_index[0] = 1  # Set first value to 1

In [93]:
ret_index

Date
2011-01-03    1.000000
2011-01-04    1.005219
2011-01-05    1.013441
2011-01-06    1.012622
2011-01-07    1.019874
                ...
2020-07-15    9.590690
2020-07-16    9.472677
2020-07-17    9.453540
2020-07-20    9.652763
2020-07-21    9.519539
Name: Adj Close, Length: 2403, dtype: float64

In [94]:
m_returns = ret_index.resample('BM', how='last').pct_change()
m_returns['2012']

/Users/jinli/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).last()
  """Entry point for launching an IPython kernel.

Date
2012-01-31    0.127111
2012-02-29    0.188310
2012-03-30    0.105284
2012-04-30   -0.025970
2012-05-31   -0.010703
2012-06-29    0.010853
2012-07-31    0.045822
2012-08-31    0.093877
2012-09-28    0.002796
2012-10-31   -0.107600
2012-11-30   -0.012375
2012-12-31   -0.090743
Freq: BM, Name: Adj Close, dtype: float64

In [95]:
m_rets = (1 + returns).resample('M', how='prod', kind='period') - 1
m_rets['2012']

/Users/jinli/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).prod()
  """Entry point for launching an IPython kernel.

Date
2012-01    0.127111
2012-02    0.188310
2012-03    0.105284
2012-04   -0.025970
2012-05   -0.010703
2012-06    0.010853
2012-07    0.045822
2012-08    0.093877
2012-09    0.002796
2012-10   -0.107600
2012-11   -0.012375
2012-12   -0.090743
Freq: M, Name: Adj Close, dtype: float64

In [101]:
import random; random.seed(0)
import string

N = 1000
def rands(n):
    choices = string.ascii_uppercase
    return ''.join([random.choice(choices) for _ in range(n)])
tickers = np.array([rands(5) for _ in range(N)])
tickers

array(['MYNBI', 'QPMZJ', 'PLSGQ', 'EJEYD', 'TZIRW', 'ZTEJD', 'XCVKP',
       'RDLNK', 'TUGRP', 'OQIBZ', 'RACXM', 'WZVUA', 'TPKHX', 'KWCGS',
       'HHZEZ', 'ROCCK', 'QPDJR', 'JWDRK', 'RGZTR', 'SJOCT', 'ZMKSH',
       'JFGFB', 'TVIPC', 'CVYEE', 'BCWRV', 'MWQIQ', 'ZHGVS', 'NSIOP',
       'VUWZL', 'CKTDP', 'SUKGH', 'AXIDW', 'HLZFK', 'NBDZE', 'WHBSU',
       'RTVCA', 'DUGTS', 'DMCLD', 'BTAGF', 'WDPGX', 'ZBVAR', 'NTDIC',
       'HCUJL', 'NFBQO', 'BTDWM', 'GILXP', 'SFWVG', 'YBZVF', 'FKQID',
       'TOVFA', 'PVNSQ', 'JULMV', 'IERWA', 'OXCKX', 'BRIEH', 'YPLTJ',
       'VLSUT', 'EWJMX', 'NUCAT', 'GWKFH', 'HUOMW', 'VSNBM', 'WSNYV',
       'WBFOC', 'IWFOQ', 'PRTYA', 'BPKJO', 'BZZNG', 'RUCXE', 'AMVNK',
       'AGAWY', 'AVQTD', 'GDTUG', 'JIWFD', 'PMUCA', 'IOZZD', 'IEUQU',
       'ULDEI', 'ABBGV', 'IRKLS', 'BXWTU', 'PWUOU', 'NLRFG', 'MSJAE',
       'EIKKZ', 'LWCKY', 'TBBIF', 'ESJLM', 'REJDP', 'XHBJF', 'QXCJM',
       'KJNDD', 'RPPKZ', 'ZKDPD', 'WPNBJ', 'KXVEF', 'USMZU', 'CCZCG',
       'XHBMA', 'DMRQJ', 'OPZSW', 'VGNCL', 'HISYF', 'NGLDC', 'WAQOY',
       'VGDPM', 'IGUBZ', 'GTEDG', 'OMLRE', 'DTPES', 'MUVNQ', 'PVKPP',
       'UVGRT', 'HAKWX', 'KKBQE', 'ITZEM', 'SJWWZ', 'PCZCQ', 'BCHEB',
       'JAYOK', 'FZEUO', 'LQMQQ', 'BSCVZ', 'ZQYTC', 'XNYGJ', 'RTNPZ',
       'MTSHZ', 'AVAXF', 'JQSIK', 'CPIJY', 'NMZMB', 'FUEHJ', 'XKBBP',
       'NEPTW', 'CVWEZ', 'LNBTO', 'MOBDP', 'YEABT', 'TEUKD', 'WRULG',
       'MZYYP', 'DBTWO', 'TUKUD', 'VWTJZ', 'EMZJX', 'VZDQZ', 'GBZMO',
       'LYGOL', 'ZUCBB', 'PIAQV', 'SSGHC', 'YUYQW', 'QNQJD', 'ENSNC',
       'DNCDN', 'YEXAZ', 'ONVNA', 'PKXIC', 'LCDLW', 'ALLFA', 'HLCTE',
       'GAGVV', 'XDXAJ', 'LWATH', 'EFODP', 'LWIEA', 'GLKPJ', 'JRUKF',
       'SCDRS', 'JFMEE', 'ZHKQH', 'HYFJL', 'NVBET', 'AMCWC', 'ENJRN',
       'XESNJ', 'ULCHO', 'ULUQB', 'MNANX', 'KOGLJ', 'PCFZD', 'IDRTW',
       'EZWOM', 'FYNNF', 'HOKQE', 'LOUUC', 'PYGJA', 'WOTOA', 'GJDYU',
       'JRTEN', 'WYPCV', 'PYHRY', 'MIUAD', 'IVBAI', 'MQSWM', 'ODXIL',
       'JYVGT', 'CBCZI', 'JRKDQ', 'HYFCN', 'JJQES', 'QUGRD', 'NURMX',
       'YZIJO', 'LSUEF', 'DWDMM', 'SOERV', 'JLUPX', 'NGPPW', 'QKPUB',
       'OJEXP', 'BTGAL', 'PMAQC', 'VCVXV', 'MALBD', 'TAIUW', 'JXHEY',
       'SJGDN', 'OWKMF', 'KNUVN', 'EOWEQ', 'KEGFO', 'LZMNZ', 'PMXHZ',
       'GOGSW', 'BMBHU', 'CFLBX', 'UVFHT', 'JTCWQ', 'YJYLN', 'OBUWQ',
       'VURXN', 'SOPIW', 'PGKIB', 'BBFLA', 'JUAEC', 'ZNVHT', 'MRHOG',
       'KTDTC', 'ZKKRO', 'KIAQB', 'GLCGQ', 'LGGIV', 'XXJJQ', 'MIPLW',
       'HBJRC', 'AOPXO', 'BZNPO', 'ODCCH', 'DYENG', 'OTCNR', 'YMBFH',
       'PHEIL', 'KNDRJ', 'TRZGW', 'JYOQT', 'ORUII', 'HADTZ', 'WDFXN',
       'HGJXV', 'AXRQN', 'BDMUI', 'DXSLH', 'VWWRV', 'JHXHC', 'QJVKH',
       'LUPJS', 'FEZAR', 'QKLSU', 'AZEME', 'FQCEY', 'GZYPS', 'YWGHX',
       'EHYML', 'TSEUP', 'DTAQT', 'LPOJA', 'HRUFV', 'PZXPR', 'KWCIE',
       'TMWGK', 'ZJMBG', 'BKXXH', 'KOVXV', 'VHILV', 'FJALS', 'RBXUE',
       'LAPUB', 'AHBAH', 'UKCBL', 'VNEGO', 'NELJF', 'UKXZX', 'NMANI',
       'RRZXV', 'WOYBS', 'DNMFA', 'QETVQ', 'XWECK', 'HFHAZ', 'FXZVR',
       'FWCNT', 'DTUOW', 'ETTBI', 'KZXXM', 'AUBPC', 'LJVEO', 'HQLFX',
       'YMKIZ', 'PMAJQ', 'JRPBY', 'RSRIV', 'BOMXD', 'MLPBA', 'IXBIV',
       'VSWYJ', 'VYGYQ', 'QKMIG', 'DSKZH', 'SVXRV', 'LFEKX', 'ASBSE',
       'LLJUJ', 'KPZMT', 'NFAZE', 'SBOEK', 'AXPVV', 'YIXTG', 'CRNIF',
       'QFCVU', 'FSDQU', 'ZRTMY', 'NIJJA', 'NYWII', 'RQRKK', 'GWZNZ',
       'EAYQE', 'ZVWZS', 'MLOBR', 'NUTZZ', 'YHALQ', 'FVGUL', 'UWPAX',
       'XHSHI', 'FYNCS', 'OHXWO', 'QZZWD', 'GFOCN', 'UMIIN', 'YYLTK',
       'CJAPA', 'YIGYM', 'MNYUU', 'VMWBS', 'OLSES', 'WIKAM', 'PQEBC',
       'SLLAC', 'GWDVR', 'PBKAK', 'MEYUI', 'NVETE', 'MJQBF', 'EEPWU',
       'WYXBX', 'QBRWX', 'WUMFL', 'ZSCCR', 'FIGZI', 'KWWIZ', 'IQOEY',
       'OREBU', 'SFUQB', 'YKCGU', 'ZOTHZ', 'OQFWK', 'UEPYR', 'BRCQK',
       'AYCDN', 'TLSOK', 'MQLUD', 'EKAFX', 'EAKTG', 'BNUBW', 'JZMBT',
       'YZWFL', 'CNBOL', 'TTYIV', 'JSZON', 'FAOZI', 'GMCLD', 'DALAF',
       'MTWUA', 'KOZRX', 'WPPCB', 'RMZZI', 'AUQDC', 'KLDPB', 'EQUZJ',
       'BAMKF', 'RWEFF', 'YFUVH', 'TKAPU', 'VMBHH', 'UJKFH', 'LHFNO',
       'LSEMS', 'YAFSA', 'VMWZF', 'EAAKQ', 'ABBYD', 'STEYE', 'VZMZA',
       'NNSVK', 'WHELQ', 'GRMCE', 'NSVLD', 'NNHPM', 'HMHUP', 'MSCII',
       'QLRAT', 'TYPHI', 'BTKZM', 'UDRBE', 'WMAYN', 'XMNDW', 'OTOFF',
       'KPNFS', 'JYQDL', 'LEULY', 'PUQYB', 'GIFXS', 'KJMUB', 'JRNBV',
       'NIMXG', 'LEEDT', 'LFANS', 'MOCUW', 'WVCYN', 'RXREF', 'EGFHA',
       'QEPLT', 'XJWZK', 'VDZNY', 'IFKUQ', 'KRWEM', 'XXRJH', 'MLMPQ',
       'JNNDV', 'EEAST', 'UWQDW', 'YUWGT', 'UTQDI', 'WXTFM', 'CZBAD',
       'LXPKD', 'VOLSW', 'IVPZY', 'HFRRC', 'YQFAU', 'FQNTV', 'GOWVM',
       'IASEM', 'FOSBM', 'ZCUSM', 'KHQOB', 'PTDIQ', 'PRUMP', 'IFHRL',
       'FJTEO', 'CCPMS', 'NRCIP', 'HDJEL', 'ZDEVB', 'VESRG', 'ABMRW',
       'YTPWW', 'DPRLY', 'KDVAH', 'HPJIH', 'APLQK', 'CCJSN', 'HXLMY',
       'EHJGX', 'YPVZL', 'JMTEY', 'DMLQP', 'HUWLU', 'LNILM', 'YYWJD',
       'PJDOE', 'LHXFK', 'PHDVM', 'MOQOS', 'THVMQ', 'JPHKQ', 'VACPK',
       'MHNBS', 'YBNCI', 'GXKFD', 'FZWLA', 'HBAMR', 'AEDTT', 'GCXOG',
       'AQTNC', 'RFHHN', 'MPZAN', 'GMYBT', 'IASLW', 'LKVOU', 'ETQCI',
       'DWDIA', 'WETYV', 'EMGSV', 'KGNQQ', 'DRDWP', 'DQOPF', 'ORKEN',
       'IMCSQ', 'KHOHL', 'PYNAO', 'XARMY', 'YOHNH', 'IPPEH', 'OJLUP',
       'TEQVC', 'GJQUV', 'DBEKB', 'KTZFY', 'OMVGN', 'PGFMB', 'ZZYKY',
       'VQGXK', 'FQRWT', 'SNEUW', 'TPVSG', 'TOBHP', 'TKRXG', 'ABBEH',
       'OVTHV', 'VDYQN', 'UUJVK', 'PVGFL', 'RLWOM', 'OVKOC', 'EHYDY',
       'EMOWR', 'GLWBA', 'MGCNS', 'SZNRG', 'UAVEQ', 'UPJMR', 'RCCTX',
       'PYAGN', 'TYLJC', 'XAYZH', 'TASQL', 'EOIDS', 'OIHMM', 'XQKHS',
       'ICBEK', 'USSPC', 'QPNKM', 'XADNT', 'VEYEA', 'DWNHB', 'UIIMD',
       'LJLTZ', 'UGXRR', 'BKQRA', 'FPAUI', 'KELDT', 'RNZYC', 'ISDQC',
       'SEPBQ', 'ZHLDR', 'WGFWV', 'HMGTW', 'XOLFI', 'XLRGG', 'OKEIR',
       'VYYAC', 'VKJWZ', 'KBCTA', 'JZDFW', 'IGQRL', 'OCNQR', 'NDCSO',
       'KFJHU', 'NVWJB', 'AAUIC', 'VKKRU', 'JBZWH', 'WQEIT', 'BZMNI',
       'SHIKZ', 'RPOWD', 'NLFQB', 'HWZPM', 'AHCJD', 'FEOAY', 'LQNDQ',
       'HPJIM', 'NPWBF', 'WQLGH', 'EHZJZ', 'EFRIR', 'AFHXN', 'WFHYR',
       'ESVFX', 'HQYJZ', 'ZWXAX', 'OZGBN', 'FMQMG', 'MRQPD', 'ECRAC',
       'AXHXM', 'OVINL', 'VMIXC', 'YFSHX', 'GBYBQ', 'ZCWOH', 'OWYYV',
       'ETUQJ', 'ATELV', 'LLJQU', 'WIEAP', 'ZXGTM', 'KPJOE', 'PJZWK',
       'LUTMM', 'SMWQJ', 'VYSHG', 'NGIQF', 'QEZTQ', 'YRYQU', 'PKINJ',
       'OUQBZ', 'XGIOW', 'CAGTD', 'IZAGF', 'TFVLT', 'ZIAVV', 'AATFJ',
       'HMPXL', 'LCSNZ', 'DWAYF', 'ATRIL', 'XGMGK', 'FZFPV', 'ETSQN',
       'SUHAB', 'NTBUU', 'UEQCN', 'JKUUT', 'GWBKE', 'KVXIP', 'PTKIU',
       'COZYF', 'DQIRW', 'MTONV', 'FTNYE', 'VVYZD', 'SYDFX', 'PJVXD',
       'VYNII', 'ZDULQ', 'RZCAB', 'TAYED', 'NMZPA', 'KUECW', 'MUSXH',
       'BGNAB', 'TZMER', 'XWJNM', 'RBXOR', 'EREUG', 'SFCSP', 'JIIGM',
       'VAUBQ', 'YYCAU', 'JEYEY', 'QEDKA', 'XKEKS', 'YCCLG', 'IOKVP',
       'PRQCC', 'KOMYM', 'RPRNQ', 'CHEUM', 'QKECE', 'EBMUS', 'DVCQI',
       'SJLVX', 'PMSKX', 'VTOQL', 'HYQBX', 'MZLKZ', 'QAHSC', 'PDLNY',
       'THRAQ', 'QDBSL', 'BLFKI', 'PPYNA', 'ZUYHU', 'UPXXL', 'VZZXF',
       'BYXPQ', 'VFMWJ', 'VSPGA', 'WOTTV', 'FTOKS', 'KNSYU', 'EQNMH',
       'LMJHG', 'IHRSL', 'OHTKT', 'UEKHE', 'YIRFR', 'WWTDO', 'PGWFT',
       'LTHWZ', 'CRPGJ', 'MIQGL', 'NKXAB', 'GGTFR', 'OCIQJ', 'WPNKV',
       'XWWMB', 'DBKFY', 'ITXRO', 'JRNPL', 'HVCXC', 'ZUCQA', 'VSQKX',
       'TDSHA', 'BZDXJ', 'CSMWE', 'YSTQG', 'IJFFS', 'HEEHI', 'PZJEX',
       'TIGCE', 'VNFGS', 'ALRVP', 'VEYXI', 'CXWTW', 'IZTXH', 'AEGXS',
       'VANEE', 'PRBQK', 'HVFOK', 'VOHUU', 'XIVWG', 'DLPIL', 'RSJGJ',
       'RMCFM', 'DSUDQ', 'EWOEN', 'IXRGY', 'ZFXCI', 'OKMQB', 'LMXXM',
       'REYWW', 'RSEUB', 'JTOQY', 'SNGOG', 'MCDRM', 'DQVOX', 'UFBGH',
       'HDTMN', 'CRGQG', 'GPCGD', 'QETGR', 'SQUTN', 'TMUIV', 'ZPUUT',
       'ZALLY', 'ZGWUB', 'GOGQV', 'GAEHO', 'PCTIU', 'JMKXX', 'VWJVC',
       'TDPLT', 'TUCHE', 'NHAPJ', 'EQULX', 'VEDQK', 'KVXCL', 'ZGGJQ',
       'WNUXX', 'MMBEO', 'CJUVE', 'QGTPL', 'ESESN', 'IXGDF', 'EORNF',
       'BJYPS', 'CVLUD', 'DPHQB', 'AWVZS', 'COIXS', 'IWRZM', 'FHUDV',
       'SXYQF', 'PUUHA', 'HEWTV', 'YEUEY', 'ZSTFC', 'DIDIT', 'OSYIS',
       'NBWCE', 'OBLKI', 'UNMAJ', 'UHGYC', 'SXEHQ', 'GOKAY', 'INSQR',
       'EWKWS', 'URMGJ', 'DOUUI', 'HZUIY', 'JCLEO', 'AMUOB', 'UYYJQ',
       'TYNOT', 'SXQGF', 'AIDMW', 'IGPPI', 'QMETP', 'IFWAG', 'KIWWD',
       'VANJK', 'TXGKN', 'YEUDH', 'LYXPO', 'FVLNN', 'NLSDC', 'RZOED',
       'AZQWM', 'UPHMU', 'XDNBV', 'JTFJI', 'QDRVV', 'KAEAC', 'KYKOG',
       'HLVSO', 'IRFOM', 'ADADK', 'XGJRD', 'QYJCD', 'RTJXB', 'HDVFO',
       'FFOIW', 'FOWSA', 'RMADD', 'JCUYM', 'GIXMH', 'OUTQR', 'LFNUZ',
       'ASNTH', 'JLQKP', 'UYXOX', 'WILIY', 'FFHOK', 'UALPT', 'ZWJVH',
       'ADOXQ', 'FGMWT', 'KREBP', 'NOZOL', 'AGSGC', 'PEVCX', 'QWVRM',
       'TIGCN', 'ARPWX', 'KXAGT', 'JYYZN', 'OWQWJ', 'CBCLM', 'UNMZU',
       'WYUYH', 'JPMRA', 'UNUJV', 'PEMVN', 'MWYSX', 'TJPRL', 'JNSUY',
       'FLBNO', 'OJCVH', 'KHMAT', 'KEFPC', 'YDFTB', 'HUFAU', 'QVNVN',
       'FJMOJ', 'RBFPF', 'DVDPX', 'JXZJJ', 'MBSIK', 'YOCBY', 'UWJHO',
       'UJRGM', 'CNBBZ', 'CLAJJ', 'BABTB', 'ETFPU', 'CSEAX', 'REZDC',
       'WCTYV', 'DGDPN', 'CDPWO', 'QXFRD', 'ELXNQ', 'ECUQB', 'XRHDX',
       'ZMLQK', 'RWSRM', 'JHSWC', 'ETMYL', 'XJLQL', 'AAAEI', 'XVWGU',
       'EFDPX', 'PVEII', 'EBFVL', 'XKGUD', 'QZPEU', 'IKGUD', 'TVWHL',
       'ZMYDI', 'YMRLB', 'UKHMB', 'YNRIY', 'ZFIBX', 'IXCKU', 'NAYVI',
       'HUYWF', 'ILQUD', 'FPGST', 'SCNJW', 'VBIAA', 'ZTFKF', 'MHSRG',
       'BURYG', 'ORVOS', 'TKLLD', 'YZANL', 'FPHXV', 'XUZXX', 'UMYTA',
       'VGTXP', 'NYMFE', 'VNMOX', 'XUXGI', 'CWFSA', 'JXFDE', 'IFMIQ',
       'UNKRX', 'NPODI', 'TKIIX', 'JMTQA', 'PUQQG', 'NIXUY', 'NXBAN',
       'RCZIW', 'ZAAPV', 'ZMRLR', 'PQORX', 'XWPSF', 'ZSYAT', 'LGJNC',
       'HDFZT', 'OUEPK', 'OWEPZ', 'IPKWQ', 'XZHYB', 'LQIMR', 'UTDJE',
       'QEECK', 'GBAPP', 'CSQBE', 'UOSES', 'ICJLE', 'OLBKD', 'DTVDJ',
       'VJSLF', 'YAVYP', 'MMUGC', 'NIPNV', 'PMENZ', 'GYNUY', 'GICZE',
       'OKLJZ', 'ZOKHF', 'OEWKZ', 'HPEDR', 'STOXK', 'FCVKF'], dtype='<U5')

In [102]:
M = 500
df = DataFrame({'Momentum' : np.random.randn(M) / 200 + 0.03,
                'Value' : np.random.randn(M) / 200 + 0.08,
                'ShortInterest' : np.random.randn(M) / 200 - 0.02},
                index=tickers[:M])
df

       Momentum     Value  ShortInterest
MYNBI  0.026142  0.079369      -0.019444
QPMZJ  0.035797  0.072002      -0.018217
PLSGQ  0.023490  0.087841      -0.025694
EJEYD  0.024400  0.077179      -0.026140
TZIRW  0.026477  0.077254      -0.026493
...         ...       ...            ...
JPHKQ  0.025522  0.083963      -0.030190
VACPK  0.016545  0.069932      -0.018383
MHNBS  0.031302  0.084402      -0.026544
YBNCI  0.032328  0.084288      -0.027761
GXKFD  0.028576  0.091274      -0.024515

[500 rows x 3 columns]

In [111]:
ind_names = np.array(['FINANCIAL', 'TECH'])
sampler = np.random.randint(0, len(ind_names), N)
industries = Series(ind_names[sampler], index=tickers,
                    name='industry')
industries

MYNBI         TECH
QPMZJ         TECH
PLSGQ    FINANCIAL
EJEYD         TECH
TZIRW    FINANCIAL
           ...
ZOKHF    FINANCIAL
OEWKZ    FINANCIAL
HPEDR         TECH
STOXK         TECH
FCVKF         TECH
Name: industry, Length: 1000, dtype: object

In [100]:
by_industry = df.groupby(industries)
by_industry.mean()

           Momentum     Value  ShortInterest
industry
FINANCIAL  0.030159  0.080083      -0.020004
TECH       0.030171  0.080391      -0.020362

In [118]:
by_industry.describe().unstack()

                      industry
Momentum       count  FINANCIAL    219.000000
                      TECH         281.000000
               mean   FINANCIAL      0.030159
                      TECH           0.030171
               std    FINANCIAL      0.004918
                      TECH           0.005356
               min    FINANCIAL      0.017080
                      TECH           0.013647
               25%    FINANCIAL      0.026711
                      TECH           0.026849
               50%    FINANCIAL      0.029667
                      TECH           0.029988
               75%    FINANCIAL      0.033528
                      TECH           0.033426
               max    FINANCIAL      0.042588
                      TECH           0.044311
Value          count  FINANCIAL    219.000000
                      TECH         281.000000
               mean   FINANCIAL      0.080083
                      TECH           0.080391
               std    FINANCIAL      0.005005
                      TECH           0.005390
               min    FINANCIAL      0.068371
                      TECH           0.064556
               25%    FINANCIAL      0.076671
                      TECH           0.076803
               50%    FINANCIAL      0.080001
                      TECH           0.080534
               75%    FINANCIAL      0.083483
                      TECH           0.083787
               max    FINANCIAL      0.099648
                      TECH           0.096383
ShortInterest  count  FINANCIAL    219.000000
                      TECH         281.000000
               mean   FINANCIAL     -0.020004
                      TECH          -0.020362
               std    FINANCIAL      0.004750
                      TECH           0.005175
               min    FINANCIAL     -0.033337
                      TECH          -0.036894
               25%    FINANCIAL     -0.022888
                      TECH          -0.023658
               50%    FINANCIAL     -0.019976
                      TECH          -0.020361
               75%    FINANCIAL     -0.017000
                      TECH          -0.016585
               max    FINANCIAL     -0.004966
                      TECH          -0.008639
dtype: float64

In [119]:
# Within-Industry Standardize
def zscore(group):
    return (group - group.mean()) / group.std()

df_stand = by_industry.apply(zscore)

In [120]:
df_stand.groupby(industries).agg(['mean', 'std'])

           Momentum               Value           ShortInterest
               mean       std      mean       std          mean       std
industry
FINANCIAL  0.009590  1.015852  0.044612  1.030429      0.022277  0.971402
TECH      -0.008852  0.985063 -0.041180  0.969247     -0.020563  1.025251

In [121]:
# Within-industry rank descending
ind_rank = by_industry.rank(ascending=False)
ind_rank.groupby(industries).agg(['min', 'max'])

          Momentum        Value        ShortInterest
               min    max   min    max           min    max
industry
FINANCIAL      1.0  279.0   1.0  281.0           1.0  279.0
TECH           1.0  281.0   1.0  278.0           1.0  281.0

In [122]:
# Industry rank and standardize
by_industry.apply(lambda x: zscore(x.rank())).info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, MYNBI to GXKFD
Data columns (total 3 columns):
Momentum         500 non-null float64
Value            500 non-null float64
ShortInterest    500 non-null float64
dtypes: float64(3)
memory usage: 35.6+ KB

In [123]:
from numpy.random import rand
fac1, fac2, fac3 = np.random.rand(3, 1000)
ticker_subset = tickers.take(np.random.permutation(N)[:1000])
# Weighted sum of factors plus noise
port = Series(0.7 * fac1 - 1.2 * fac2 + 0.3 * fac3 + rand(1000),
              index=ticker_subset)
factors = DataFrame({'f1': fac1, 'f2': fac2, 'f3': fac3},
                    index=ticker_subset)

In [124]:
factors.corrwith(port)

f1    0.408625
f2   -0.674946
f3    0.193129
dtype: float64

In [135]:
import statsmodels.api as sm

In [143]:
Y=port
X = sm.add_constant(factors)
model=sm.OLS(Y,X)

In [146]:
result=model.fit()

In [148]:
result.params

const    0.480247
f1       0.735244
f2      -1.179930
f3       0.300011
dtype: float64

In [166]:
def beta_exposure(chunk, factors=None):
    y=chunk
    x=sm.add_constant(factors)
    model=sm.OLS(y,x)
    result=model.fit()
    return result.params

In [173]:
by_ind = port.groupby(industries)
type(by_ind)

pandas.core.groupby.generic.SeriesGroupBy

In [176]:
exposures = by_ind.apply(beta_exposure,factors=factors)

ValueError: The indices for endog and exog are not aligned

In [177]:
exposures.unstack()

NameError: name 'exposures' is not defined

In [179]:
data = web.get_data_yahoo('SPY', '2006-01-01')
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3664 entries, 2006-01-03 to 2020-07-23
Data columns (total 6 columns):
High         3664 non-null float64
Low          3664 non-null float64
Open         3664 non-null float64
Close        3664 non-null float64
Volume       3664 non-null float64
Adj Close    3664 non-null float64
dtypes: float64(6)
memory usage: 200.4 KB

In [220]:
px = data['Adj Close']
returns = px.pct_change()

def to_index(rets):
    index = (1 + rets).cumprod()
    first_loc = max(index.index.get_loc(index.idxmax()) - 1, 0)
    index.values[first_loc] = 1
    return index

def trend_signal(rets, lookback, lag):
    signal = pd.rolling_sum(rets, lookback, min_periods=lookback - 5)
    return signal.shift(lag)

In [218]:
signal = trend_signal(returns, 100, 3)
trade_friday = signal.resample('W-FRI').resample('B', fill_method='ffill')
trade_rets = trade_friday.shift(1) * returns
trade_rets = trade_rets[:len(returns)]
to_index(trade_rets).plot()

AttributeError: type object 'DataFrame' has no attribute 'rolling_sum'

In [219]:
names = ['AAPL', 'GOOG', 'MSFT', 'DELL', 'GS', 'MS', 'BAC', 'C']
def get_px(stock, start, end):
    return web.get_data_yahoo(stock, start, end)['Adj Close']
px = DataFrame({n: get_px(n, '1/1/2006', '6/1/2009') for n in names})

KeyError: 'Date'

In [ ]:
px = px.asfreq('B').fillna(method='pad')
rets = px.pct_change()
((1 + rets).cumprod() - 1).plot()

In [189]:
def calc_mom(price, lookback, lag):
    mom_ret = price.shift(lag).pct_change(lookback)
    ranks = mom_ret.rank(axis=1, ascending=False)
    demeaned = ranks.subtract(ranks.mean(axis=1), axis=0)
    return demeaned.divide(demeaned.std(axis=1), axis=0)

In [190]:
compound = lambda x : (1 + x).prod() - 1
daily_sr = lambda x: x.mean() / x.std()

def strat_sr(prices, lb, hold):
    # Compute portfolio weights
    freq = '%dB' % hold
    port = calc_mom(prices, lb, lag=1)

    daily_rets = prices.pct_change()

    # Compute portfolio returns
    port = port.shift(1).resample(freq, how='first')
    returns = daily_rets.resample(freq, how=compound)
    port_rets = (port * returns).sum(axis=1)

    return daily_sr(port_rets) * np.sqrt(252 / hold)

In [193]:
strat_sr(px, 70, 30)

ValueError: No axis named 1 for object type <class 'pandas.core.series.Series'>

In [194]:
from collections import defaultdict

lookbacks = range(20, 90, 5)
holdings = range(20, 90, 5)
dd = defaultdict(dict)
for lb in lookbacks:
    for hold in holdings:
        dd[lb][hold] = strat_sr(px, lb, hold)

ddf = DataFrame(dd)
ddf.index.name = 'Holding Period'
ddf.columns.name = 'Lookback Period'

ValueError: No axis named 1 for object type <class 'pandas.core.series.Series'>

In [195]:
import matplotlib.pyplot as plt

def heatmap(df, cmap=plt.cm.gray_r):
    fig = plt.figure()
    ax = fig.add_subplot(111)
    axim = ax.imshow(df.values, cmap=cmap, interpolation='nearest')
    ax.set_xlabel(df.columns.name)
    ax.set_xticks(np.arange(len(df.columns)))
    ax.set_xticklabels(list(df.columns))
    ax.set_ylabel(df.index.name)
    ax.set_yticks(np.arange(len(df.index)))
    ax.set_yticklabels(list(df.index))
    plt.colorbar(axim)

In [196]:
heatmap(ddf)

NameError: name 'ddf' is not defined

In [197]:
# Approximate price of S&P 500 index
px = web.get_data_yahoo('SPY')['Adj Close'] * 10
px

Date
2015-07-27    1872.142487
2015-07-28    1895.138397
2015-07-29    1908.174896
2015-07-30    1908.627777
2015-07-31    1905.730591
                 ...
2020-07-17    3217.200012
2020-07-20    3243.200073
2020-07-21    3250.100098
2020-07-22    3268.599854
2020-07-23    3229.599915
Name: Adj Close, Length: 1258, dtype: float64

In [199]:
from datetime import datetime
expiry = {'ESU2': datetime(2012, 9, 21),
          'ESZ2': datetime(2012, 12, 21)}
expiry = Series(expiry).sort_values()

In [200]:
expiry

ESU2   2012-09-21
ESZ2   2012-12-21
dtype: datetime64[ns]

In [201]:
np.random.seed(12347)
N = 200
walk = (np.random.randint(0, 200, size=N) - 100) * 0.25
perturb = (np.random.randint(0, 20, size=N) - 10) * 0.25
walk = walk.cumsum()

rng = pd.date_range(px.index[0], periods=len(px) + N, freq='B')
near = np.concatenate([px.values, px.values[-1] + walk])
far = np.concatenate([px.values, px.values[-1] + walk + perturb])
prices = DataFrame({'ESU2': near, 'ESZ2': far}, index=rng)

In [202]:
prices.tail()

                   ESU2         ESZ2
2021-02-18  3258.849915  3260.599915
2021-02-19  3245.099915  3247.349915
2021-02-22  3253.099915  3254.849915
2021-02-23  3269.599915  3268.849915
2021-02-24  3249.599915  3247.349915

In [203]:
def get_roll_weights(start, expiry, items, roll_periods=5):
    # start : first date to compute weighting DataFrame
    # expiry : Series of ticker -> expiration dates
	# items : sequence of contract names

    dates = pd.date_range(start, expiry[-1], freq='B')
    weights = DataFrame(np.zeros((len(dates), len(items))),
                        index=dates, columns=items)

    prev_date = weights.index[0]
    for i, (item, ex_date) in enumerate(expiry.iteritems()):
        if i < len(expiry) - 1:
            weights.ix[prev_date:ex_date - pd.offsets.BDay(), item] = 1
            roll_rng = pd.date_range(end=ex_date - pd.offsets.BDay(),
                                     periods=roll_periods + 1, freq='B')

            decay_weights = np.linspace(0, 1, roll_periods + 1)
            weights.ix[roll_rng, item] = 1 - decay_weights
            weights.ix[roll_rng, expiry.index[i + 1]] = decay_weights
        else:
            weights.ix[prev_date:, item] = 1

        prev_date = ex_date

    return weights

In [204]:
weights = get_roll_weights('6/1/2012', expiry, prices.columns)

/Users/jinli/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  del sys.path[0]
/Users/jinli/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:18: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
/Users/jinli/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:19: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
/Users/jinli/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated

In [205]:
weights.ix['2012-09-12':'2012-09-21']

/Users/jinli/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

            ESU2  ESZ2
2012-09-12   1.0   0.0
2012-09-13   1.0   0.0
2012-09-14   0.8   0.2
2012-09-17   0.6   0.4
2012-09-18   0.4   0.6
2012-09-19   0.2   0.8
2012-09-20   0.0   1.0
2012-09-21   0.0   1.0

In [207]:
rolled_returns = (prices.pct_change() * weights).sum(1)
rolled_returns

2012-06-01    0.0
2012-06-04    0.0
2012-06-05    0.0
2012-06-06    0.0
2012-06-07    0.0
             ...
2021-02-18    0.0
2021-02-19    0.0
2021-02-22    0.0
2021-02-23    0.0
2021-02-24    0.0
Length: 1604, dtype: float64

In [208]:
aapl = web.get_data_yahoo('AAPL', '2000-01-01')['Adj Close']
msft = web.get_data_yahoo('MSFT', '2000-01-01')['Adj Close']

aapl_rets = aapl.pct_change()
msft_rets = msft.pct_change()

In [211]:
pd.rolling_corr(aapl_rets, msft_rets, 250).plot()

AttributeError: type object 'DataFrame' has no attribute 'rolling_corr'

In [212]:
model = pd.ols(y=aapl_rets, x={'MSFT': msft_rets}, window=250)

model.beta['MSFT'].plot()

AttributeError: module 'pandas' has no attribute 'ols'

In [214]:
from pandas import DataFrame

In [221]:
? DataFrame.rolling
#For rooling function: https://blog.csdn.net/maymay_/article/details/80241627